body{
    height:100%;
    width:100%;
    text-align:center;
    margin: 0;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23050506' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230a0a0c' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23101011' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23151517' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%231a1a1d' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.header{
    margin-top: 0;
    background-color: #642232;
    width: 100%;
    height: 3rem;
    position:fixed;
    z-index: 1;
}
.header ul{
    margin: 0;
    padding: 0;
}
.header li{
    list-style-type: none;
    padding: 8px;
    float: left;
    border-right: 1px solid #bbb;
    height:2rem;
}
.header li:last-child {
    border-right: none;
}
.header a, .header a:visited{
    padding-top: 5px;
    text-decoration: none;
    color: white;
    display: block;
}
#searchbar{
    float:right;
    display:block;
    margin-top: .6rem;
}
article#homePage{
    width: 85%;
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #950740;
}
article#orderForm{
    width: 50%;
    padding: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #950740;
}
footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4e4e50;
    color: white;
    display:block;
    margin-bottom: -32000px;
}
footer ul{
    margin:0;
    padding:0;
}
footer li{
    
    list-style-type: none;
}
footer a {
    color:white;
}
#logo{
    z-index:auto;
    position: static;
    margin-top:70px;
}
.row {
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    grid-gap:4px;
  }
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
.column img {
    border: 2px #FFFFFF solid;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
@media screen and (max-width: 479px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
.homeImage {
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
  }
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }